body {
    background-color: #151515;
}

#achtergrond {
    height: 500px;
    width: 1030px;
    background-image: linear-gradient(#006600 10%, #aa8811, #990000 90%);
}

p {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    height: 300px;
    width: 300px;
    color: white;
    position: absolute;
    top: 150px;
    left: 375px;
}

#boven {
    height: 75px;
    width: 1030px;
    background-color: black;
}

#onder {
    height: 125px;
    width: 1030px;
    background-color: black;
}

.tussen {
    height: 500px;
    width: 10px;
    background-color: black;
    float: left;
}

.zwart40 {
    height: 500px;
    width: 50px;
    background-color: black;
    float: left;
}

.zwart50 {
    height: 500px;
    width: 50px;
    background-color: black;
    float: left;
}

.zwart60 {
    height: 500px;
    width: 50px;
    background-color: black;
    float: left;
}

.zwart70 {
    height: 500px;
    width: 50px;
    background-color: black;
    float: left;
}

.zwart75 {
    height: 500px;
    width: 50px;
    background-color: black;
    float: left;
}

.zwart80 {
    height: 500px;
    width: 50px;
    background-color: black;
    float: left;
}

.zwart85 {
    height: 500px;
    width: 50px;
    background-color: black;
    float: left;
}

#visualisatie {
    position: absolute;
    left: 955px;
    top: 685px;
}

#visualisatie:focus~p {
    display: none;
}

#visualisatie:focus~.zwart40 {
    transition-duration: 7s;
    height: 60%;
}

#visualisatie:focus~.zwart50 {
    transition-duration: 7s;
    height: 50%;
}

#visualisatie:focus~.zwart60 {
    transition-duration: 7s;
    height: 40%;
}

#visualisatie:focus~.zwart70 {
    transition-duration: 7s;
    height: 30%;
}

#visualisatie:focus~.zwart75 {
    transition-duration: 7s;
    height: 25%;
}

#visualisatie:focus~.zwart80 {
    transition-duration: 7s;
    height: 20%;
}

#visualisatie:focus~.zwart85 {
    transition-duration: 7s;
    height: 15%;
}

#terug {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#verder {
    position: fixed;
    bottom: 10px;
    left: 60px;
}